<div style="border-top: solid 1px #d7d7d7;">
    <p style="font-size: 14px; font-weight: bold; margin-bottom: 8px; color: #f58120;">Alarm Detail</p>
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 8px;">
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;  width:200px">Alarm Name</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{data.alarm_detail.alarm_name}}</td>
        </tr>
        {{!-- <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px; width:200px">Alarm Text</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{data.alarm_detail.alarm_text}}</td>
        </tr> --}}
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px; width:200px">Cleared on</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{data.alarm_detail.cleared_on }}</td>
        </tr>
        {{!-- <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px; width:200px">Probable Cause</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{ data.alarm_detail.probable_cause }}</td>
        </tr> --}}
        {{!-- <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px; width:200px">Last Changed On</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{ data.alarm_detail.last_changed_on }}</td>
        </tr> --}}
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px; width:200px">Severity</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{ data.alarm_detail.severity }}</td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px; width:200px">Occured On</th>
            <td style="padding: 8px; text-align: left; border-bottom: 1px solid #dddddd; font-size: 12px;">{{ data.alarm_detail.created_on }}</td>
        </tr>
    </table>
    </div>
    