<!DOCTYPE html>
<html>

<head>
    <style>
        .card {
            border: 1px solid #E8E8E8;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
        }

        .alert-bar {
            background-color: #f60;
            /* Light orange shade */
            color: black;
            font-weight: bold;
            padding: 10px;
            padding-left: 40px;
        }

        .card-content {
            font-size: 12px;
            font-family: sans-serif;
            background-color: white;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #E8E8E8;
            padding: 5px;
            text-align: left;
        }

        .card-content td a {
            text-decoration: underline;
            color: #0B0BFF;
            font-weight: bold;
        }

        .card-content td.label {
            font-weight: bold;
            padding-right: 15px;
        }

        .card-content td.danger {
            color: #D11818;
            font-weight: bold;
        }

        .card-content tr:nth-child(even) {
            background-color: #F4F4F4;
            /* Shaded background for even rows */
        }
    </style>
</head>

<body>
    {{>header}}
    <div class="card">
        <div class="alert-bar">ALARM NOTIFICATION</div>
        <div class="card-content">
            <table>
                <tbody>
                    <tr>
                        <td class="label">Alert</td>
                        <td class="danger">{{alert}}</td>
                    </tr>
                    <tr>
                        <td class="label">Entity</td>
                        <td><a>{{entity}}</a></td>
                    </tr>
                    <tr>
                        <td class="label">Descr</td>
                        <td>{{descr}}</td>
                    </tr>
                    <tr>
                        <td class="label">Conditions</td>
                        <td>{{conditions}}</td>
                    </tr>
                    <tr>
                        <td class="label">Metrics</td>
                        <td>{{metrics}}</td>
                    </tr>
                    <tr>
                        <td class="label">Duration</td>
                        <td>{{duration}}</td>
                    </tr>
                    <tr>
                        <td class="label">Device</td>
                        <td><a>{{device}}</a></td>
                    </tr>
                    <tr>
                        <td class="label">Hardware</td>
                        <td>{{hardware}}</td>
                    </tr>
                    <tr>
                        <td class="label">Operating System</td>
                        <td>{{operating_system}}</td>
                    </tr>
                    <tr>
                        <td class="label">Location</td>
                        <td>{{location}}</td>
                    </tr>
                    <tr>
                        <td class="label">Uptime</td>
                        <td>{{uptime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{>footer}}
</body>

</html>